body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	
	padding-top: 10%;
	text-align: center;
}
ul {
	display:inline-block;
}
li {
	text-align: left;
}
#search-form {
	padding-bottom: 10px;
}
.input {
  border: 1px solid grey;
  font-size: 16px;
  text-shadow: none;
  padding: 1em;
  border-radius: 5px;
}

.button {
  font-size: 16px;
  border: 1px solid grey;
  background-color: #5c6ac4;
  border-radius: 5px;
  padding: 1em 1.8em;
  border: none;
  color: white;
  cursor: pointer;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.result {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #5a6ca4; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
